<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
    ">

    <!-- Pour la balise @Autowired (Ne pas oublier le chemin du fichier .xsd) -->
    <!-- Peut-être supprimé, car context:component-scan l'importe -->
    <!--<context:annotation-config/>-->

    <!-- Pour la balise @Value (Ajouter le fichier application.properties) -->
    <context:property-placeholder location="classpath:application.properties"/>

    <!-- Pour supprimer les bean il faut utiliser la balise @Component (@Controller/@Service/@Repository) -->
    <!-- Mais également la configuration suivante -->
    <!-- NE JAMAIS METTRE LE DOSSIER SOURCE DU PROJET -->
    <!-- Peut-être supprimer en utilisant la balise @Configuration -->
    <context:component-scan base-package="com.mycompany.invoice.controller.cmd"/>
    <context:component-scan base-package="com.mycompany.invoice.service.prefix"/>
    <context:component-scan base-package="com.mycompany.invoice.repository.cache"/>

    <!-- Définition du bean pour la classe controller -->
    <!--<bean id="invoiceController" class="com.mycompany.invoice.controller.cmd.InvoiceControllerCMD">
        <property name="invoiceService" ref="invoiceService"/>
    </bean>-->
    <!-- Avec la balise @Autowired -->
    <!--<bean class="com.mycompany.invoice.controller.cmd.InvoiceControllerCMD"/>-->

    <!-- Définition du bean pour la classe service -->
    <!--<bean id="invoiceService" class="com.mycompany.invoice.service.prefix.InvoiceServicePrefix">
        <property name="invoiceRepository"  ref="invoiceRepository"/>
        <property name="lastNumber"         value="76"/>
        <property name="prefix"             value="test_"/>
    </bean>-->
    <!-- Avec la balise @Autowired et Sans la balise @Value -->
    <!--<bean class="com.mycompany.invoice.service.prefix.InvoiceServicePrefix">
        <property name="lastNumber" value="76"/>
        <property name="prefix"     value="test_"/>
    </bean>-->
    <!-- Avec la balise @Value -->
    <!--<bean class="com.mycompany.invoice.service.prefix.InvoiceServicePrefix"/>-->
    <!-- Pour supprimer les bean il faut utiliser la balise @Component (@Controller/@Service/@Repository) -->

    <!-- Définition du bean pour la classe repository -->
    <!--<bean id="invoiceRepository" class="com.mycompany.invoice.repository.cache.InvoiceRepositoryCache"/>-->
    <!-- Avec la balise @Autowired -->
    <!--<bean class="com.mycompany.invoice.repository.cache.InvoiceRepositoryCache"/>-->
    <!-- Pour supprimer les bean il faut utiliser la balise @Component (@Controller/@Service/@Repository) -->

</beans>